#select-imageslist tr th,
#select-imageslist tr td {
  padding: 3px 3px;
}
#select-imageslist tr td:nth-child(4) {
  width: 15%;
}
#select-imageslist tr th:nth-child(5),
#select-imageslist tr td:nth-child(5) {
  width: 3%;
}
#select-imageslist tr td:nth-child(6),
#select-imageslist tr td:nth-child(7),
#select-imageslist tr td:nth-child(8),
#select-imageslist tr td:nth-child(9) {
  font-size: 10px;
}
